transformers
nltk

spacy==2.3.9
srsly==1.0.5
# This older model is still compatible with spaCy 2.3.x:
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz#egg=en_core_web_sm

# Keep pandas at 2.2.2 for google-colab’s sake
pandas==2.2.2

elasticsearch
torch
fastai
fastbook
seaborn
ktrain

git+https://github.com/amaiya/eli5@tfkeras_0_10_1
git+https://github.com/amaiya/stellargraph@no_tf_dep_082

tqdm

fsspec==2024.10.0
gcsfs==2024.10.0
