transformers
nltk

spacy==3.2.4
srsly==2.4.7
confection==0.1.5
weasel==0.4.1

python -m spacy download en_core_web_sm

# Keep pandas at 2.2.2 for google-colab’s sake
pandas==2.2.2

elasticsearch
torch
fastai
fastbook
seaborn
ktrain

git+https://github.com/amaiya/eli5@tfkeras_0_10_1
git+https://github.com/amaiya/stellargraph@no_tf_dep_082

tqdm

fsspec==2024.10.0
gcsfs==2024.10.0
